body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 1px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.about-me-img img {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: auto;
    margin-top: 3%;
    padding: 5%;
    object-fit: cover;
}